/* <a href="https://www.freepik.com/free-vector/sunny-morning-green-forest-cartoon-landscape_31754774.htm#query=forest%20road%202d&position=4&from_view=search&track=ais">Image by upklyak</a> on Freepik */ 
html
{
    overflow-x:hidden;
}
body{
    overflow-x:hidden;
    margin: 0;
    padding: 0;
}
/* Poruszanie tłem żeby nadać wrażenie ruchu */
#root
{
    width:100%;
    height:40vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    background: url(./img/landscape.jpg);
    background-position: bottom left;
    background-size: 100vw 100vh;
    padding-bottom: 65px;
    animation: backgroundWalking 15s linear infinite;
}
@keyframes backgroundWalking
{
    from
    {
        background-position: bottom right;
    }

    to
    {
        background-position: bottom left;
    }
}
#orderWalk /* Przycisk chodzenie */
{
    background-color: darkgray;
    font-size: 18px;
    width: 100px;
    display: inline-block;
    margin: 0 auto 0;
    
}
#orderGetUp /* Przycisk siadanie*/
{
    background-color: darkgray;
    font-size: 18px;
    width: 100px;
    display: inline-block;
    margin: 0 auto 0;


}
#orderSitDown /* Przycisk siadanie*/
{
    background-color: darkgray;
    font-size: 18px;  
    width: 100px;
    display: inline-block;
    margin: 0 auto 0;

}
#orderRun /* Przycisk siadanie*/
{
    background-color: darkgray;
    font-size: 18px;  
    width: 100px;
    display: inline-block;
    margin: 0 auto 0;
    clear: both;
}
.buttonContainer
{
    margin: 0 auto 0 ;
    text-align: center;

}
.containter
{
    width: 100%;
    margin-bottom: 50px;
}
.cat 
{
    height: 200px; /* wysokość i szerokość pojedynczej klatki kotek.png*/
    width: 400px;
    margin: 100px auto 0;  
    background: url("./img/kotek.png") -400px -1000px  no-repeat; /* Podstawowa pozycja kota po załadowaniu */
}
.catStanding
{
    background: url("./img/kotek.png") 0 0  no-repeat;
}

.catWalking
{
    animation: catWalking 1s steps(12) 1;
    background: url("./img/kotek.png") 0 0 no-repeat; /*sciezka/ wstepna pozycja/bez powtorzeń */

}

@keyframes catWalking
{
    from
    {
        background-position: 0 0 ;
    }

    to
    {
        background-position: 0 -2391px;
    }
}

/* sekcja animacji wstającego kota */
.catGettingUp
{
    animation: catGettingUp 0.5s steps(5) 1;
    background: url("./img/kotek.png") -400px -1000px no-repeat;
    animation-fill-mode: forwards;
}

@keyframes catGettingUp
{
    from
    {
        background-position: -400px -1000px;
    }

    to
    {
        background-position: -400px 0;
    }
}

/* sekcja animacji siadającego kota */
.catSittingDown
{
    animation: catSittingDown 0.5s steps(5) 1;
    background: url("./img/kotek.png") -400px 0 no-repeat;
    animation-fill-mode: forwards;
}

@keyframes catSittingDown
{
    from
    {
        background-position: -400px 0 ;
    }
    to
    {
        background-position: -400px -1000px;
    }
}

/* Kot wstający i idący*/
.catGettingUpAndWalking
{
    animation: catGettingUp 0.5s steps(5) 1, catWalking 1s 0.5s steps(12) 1 ;
    background: url("./img/kotek.png") -400px 0 no-repeat;

}

/* Sekcja animacji biegnącego kota */

.catRunning
{
    animation: catRunningPartOne 1s steps(12) 1, catRunningPartTwo 1s 1s steps(13) 1, catRunningPartThree 0.4s 2s steps(5) 1;
    background: url("./img/kotek.png") -800px 0 no-repeat;
}
.catGettingUpAndRunning
{
    animation: catGettingUp 0.5s steps(5) 1, catRunningPartOne 1s 0.5s steps(12) 1, catRunningPartTwo 1s 1.5s steps(13) 1, catRunningPartThree 0.4s 2.5s steps(5) 1;
    background: url("./img/kotek.png") -800px 0 no-repeat;
}

@keyframes catRunningPartOne
{
    from
    {
        background-position: -800px 0 ;
    }
    to
    {
        background-position: -800px -2391px;
    }
}
@keyframes catRunningPartTwo
{
    from
    {
        background-position: -1200px 0 ;
    }
    to
    {
        background-position: -1200px -2591px;
    }
}
@keyframes catRunningPartThree
{
    from
    {
        background-position: -1200px 0 ;
    }
    to
    {
        background-position: -1200px -1000px;
    }
}
