 
html
{
    overflow-x:hidden;
}
body{
    overflow-x:hidden;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: url("./img/mainbg.jpg");

}
footer
{
    margin-top: auto;
    text-align: center;  
    border-top:  solid;
    border-top-color: #015172;   
    padding-bottom: 10px;
}
footer p 
{
    color: black;
    font-weight: bold;
    margin-bottom: 0;
    padding-bottom: 5px ;
}
footer a:link
{
    display: block;
    color: black;
    text-decoration: none;
    font-weight: bold;
    padding: 2px;
}
  
footer a:visited 
{
    color: black;
    text-decoration: none;
    font-weight: bold;
    padding: 2px;
}
  
footer a:hover 
{
    color: gray;
    text-decoration: none;
    font-weight: bold;
    padding: 2px;
}
  
footer a:active 
{
    color: gray;
    text-decoration: none;
    font-weight: bold;
    padding: 2px;
}


#root
{
    width:100%;
    align-items: center;
}
#header
{
    margin: 10px auto 10px;
    text-align: center;
}

#orderWalk /* Przycisk chodzenie */
{

    font-size: 18px;
    width: 100px;
    display: inline-block;
    margin: 0 auto 0;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;   
    /* border-color: #015172;  */
}
#orderWalk:hover
{
    color:#EDD64A;
    background:#015172;
    cursor: pointer;
    transform: translateX(-5px);
}
#orderGetUp /* Przycisk wstawanie*/
{
    font-size: 18px;
    width: 100px;
    display: inline-block;
    margin: 0 auto 0;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
    /* border-color: #015172; */
}
#orderGetUp:hover
{
    color:#EDD64A;
    background:#015172;
    cursor: pointer;
    transform: translateY(-5px);
}
#orderSitDown /* Przycisk siadanie*/
{

    font-size: 18px;  
    width: 100px;
    display: inline-block;
    margin: 5px auto 0;
    border-radius: 5px;
}
#orderSitDown:hover
{
    color:#EDD64A;
    background:#015172;
    cursor: pointer;
    transform: translateY(5px);
    transition: all 0.2s ease-in-out;
}
#orderRun /* Przycisk bieg*/
{

    font-size: 18px;  
    width: 100px;
    display: inline-block;
    margin: 5px auto 0;
    clear: both;
    border-radius: 5px;
}
#orderRun:hover
{
    color:#EDD64A;
    background:#015172;
    cursor: pointer;
    transform: translateX(-10px);
    transition: all 0.2s ease-in-out;
}



.buttonContainer /* divy przechowujące przyciski */
{
    width:220px;
    margin: 50px auto 0 ;
    text-align: center;
    padding: 20px;
    border: 2px;
    border-color: #015172;
    border-style:solid ;
    border-radius: 10px;


}
.container /* główny kontener */
{
    width:100%;
    background: url("./img/bg.jpg");
    padding-top: 200px;

    background-position: bottom left;
    overflow-x:hidden ;
    background-position: bottom right;

}
.containerWalk /* klasa do animacji tła*/
{
    width:100%;
    background: url("./img/bg.jpg");
    padding-top: 200px;

    animation: backgroundWalking 15s linear 1;
    background-position: bottom right;
    animation-fill-mode: forwards;
}
.containerGetUpAndWalk
{
    width:100%;
    background: url("./img/bg.jpg");
    padding-top: 200px;

    background-position: bottom right; 
    animation: backgroundWalking 15s 0.5s linear 1;  
    animation-fill-mode: forwards;
}
.containerRun /* klasa do animacji tła biegania*/
{
    width:100%;
    background: url("./img/bg.jpg");
    padding-top: 200px;

    animation: backgroundWalking 10s linear 1;
    background-position: bottom right;
    animation-fill-mode: forwards;
}
.containerGetUpAndRun
{
    width:100%;
    background: url("./img/bg.jpg");
    padding-top: 200px;

    background-position: bottom right; 
    animation: backgroundWalking 10s 0.5s linear 1;  
    animation-fill-mode: forwards;
}
.cat 
{
    height: 200px; /* wysokość i szerokość pojedynczej klatki kotek.png*/
    width: 400px;
    margin: 0 auto  0;  
    background: url("./img/kotek.png") -400px -1000px  no-repeat; /* Podstawowa pozycja kota po załadowaniu */
}
.catStanding
{
    background: url("./img/kotek.png") 0 0  no-repeat;
}

.catWalking
{
    animation: catWalking 1s steps(12) 15;
    background: url("./img/kotek.png") 0 0 no-repeat; /*sciezka/ wstepna pozycja/bez powtorzeń */

}
@keyframes backgroundWalking
{
    0%
    {
        background-position: bottom right;
    }

    50%
    {
        background-position: bottom center;
    }
    100%
    {
        background-position: bottom left+210px;
    }

}

@keyframes catWalking
{
    from
    {
        background-position: 0 0 ;
    }

    to
    {
        background-position: 0 -2391px;
    }
}

/* sekcja animacji wstającego kota */
.catGettingUp
{
    animation: catGettingUp 0.5s steps(5) 1;
    background: url("./img/kotek.png") -400px -1000px no-repeat;
    animation-fill-mode: forwards;
}

@keyframes catGettingUp
{
    from
    {
        background-position: -400px -1000px;
    }

    to
    {
        background-position: -400px 0;
    }
}

/* sekcja animacji siadającego kota */
.catSittingDown
{
    animation: catSittingDown 0.5s steps(5) 1;
    background: url("./img/kotek.png") -400px 0 no-repeat;
    animation-fill-mode: forwards;
}

@keyframes catSittingDown
{
    from
    {
        background-position: -400px 0 ;
    }
    to
    {
        background-position: -400px -1000px;
    }
}

/* Kot wstający i idący*/
.catGettingUpAndWalking
{
    animation: catGettingUp 0.5s steps(5) 1, catWalking 1s 0.5s steps(12) 15 ;
    background: url("./img/kotek.png") -400px 0 no-repeat;

}

/* Sekcja animacji biegnącego kota */
.catGettingUpAndRunning
{
    /* catRunningPartOne 1s 0.5s steps(11) 5, catRunningPartTwo 1s 1.5s steps(13) 5, catRunningPartThree 0.4s 2.5s steps(5) 5 */
    animation: catGettingUp 0.5s steps(5) 1, catRunning 1s 0.5s steps(13) 10;
    background: url("./img/kotek.png") -800px 0 no-repeat;
}
.catRunning
{
    /* animation: catRunningPartOne 1s  steps(11) 1, catRunningPartTwo 1s 1s steps(13) 1, catRunningPartThree 0.4s 2s steps(5) 1;  */
    animation: catRunning 1s steps(13) 10; 
    background: url("./img/kotek.png") -800px 0 no-repeat;
}

@keyframes catRunning
{
    from
    {
        background-position: -1200px 0 ;
    }
    to
    {
        background-position: -1200px -2591px;
    }
} 

/* @keyframes catRunningPartOne
{
    from
    {
        background-position: -800px -200px ;
    }
    to
    {
        background-position: -800px -2391px;
    }
}
@keyframes catRunningPartTwo
{
    from
    {
        background-position: -1200px 0 ;
    }
    to
    {
        background-position: -1200px -2591px;
    }
}
@keyframes catRunningPartThree
{
    from
    {
        background-position: -1200px 0 ;
    }
    to
    {
        background-position: -1200px -1000px;
    }
} */
